<a href="{{pusher.html_url}}">{{pusher.name}}</a> pushed <a href="{{compare}}">{{commitsLength}} {{pluralize commits.length 'commit' 'commits'}}</a> to <a href="{{repository.url}}">{{repository.full_name}}</a>:<a href="{{repository.html_url}}/commits/{{extractBranch ref}}">{{extractBranch ref}}</a><br>
{{#each commits}}
- {{trimCommit this.message}} / by {{this.author.username}} <a href="{{this.url}}">{{trim this.id}}</a><br>
{{else}}
{{/each}}
{{#if commitsLengthMore}}
<a href="{{compare}}">See {{commitsLengthMoreCount}} more</a>
{{/if}}
